!= partial("_menu")

.content
    .grid
        for story in public.stories._data
            .box.story(
                data-topics="#{story.topics}",
                data-mediums="#{story.mediums}"
            )
                a(href="#{story.url}")
                    .box-content(
                        style="background-image: url(#{story.photo_url});",
                    )
                        .box-title-box
                            .box-title=story.title

    != partial("_bio")